.App {
  text-align: center;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr 2fr 2fr;
  grid-template-areas: 'header'
                        'main'
                        'main'
                        'main'
                        'footer';

}

.header {
  display: grid;
  justify-content: space-between;
  grid-area: 'header-img' 'links';
  grid-template-columns: 2fr 2fr;
  padding: 30px;
  align-items: center;
}

 .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  gap: 2;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 16px;
}

.headers {
  width: 70%;
}

.header-img {
  width: 70%;
  min-width: 300px
}

a:link {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: none;
  padding: none;
}

.btn-color {
  background-color: white !important;
  border-color: white !important;
}

.hero, .testimonials, .footer {
  background-color: #495e57 !important;
}

.img-border-style {
  border-radius: 16px !important;
}

.img-col {
  display: flex;
  flex-direction: row;
}


.img-top {
 transform: translate(190px, 50px);
}

.img-bottom {
  align-content: center;
  justify-content: center;
  transform: translate(-220px, 100px);
}

.hero-section-h1-text {
  color: #F4CE14 !important;
  font-weight: 400;
  font-family: 'Markazi Text';
  font-size: 64px;
}

.main-h2-text {
  color: white;
  font-family: 'Markazi Text';
  font-size: 40px;
}
.testimonials-h2-text {
  color:black;
  font-weight: 500;
  font-family: 'Markazi Text';
  font-size: 40px;
}

.main-body-text {
  color: white;
  font-family: 'Karla';
  font-size: 16px;
}

.main-body-text-bl {
  color: black;
  font-family: 'Karla';
  font-size: 16px;
}

.ratings-text {
  color: black;
  font-weight: 550 !important;
  font-family: 'Karla';
  font-size: 16px;
}

.main-button {
  background-color: #F4CE14 !important;
  border-color: #F4CE14 !important;
  font-weight: bolder !important;
  font-size: 20px !important;
  font-family: 'Karla';
}

.cards-background {
  background-color: #edefee !important;
  border-color: white !important;
}

.maxwidth-1200 {
  max-width: 1200px !important;
}

@media only screen and (min-width:1200px){
  .img-top {
    transform: translate(200px, -10px);
  }
  .img-bottom {
    transform: translate(-200px, 50px);
  }
  .main-text-p {
    max-width: 40% !important;
  }
}

@media  only screen and (max-width: 986px) {
  .img-top {
    transform: translate(190px, 130px);
   }
   .img-bottom {
     align-content: center;
     justify-content: center;
     transform: translate(-220px, 190px);
   }
}

@media  only screen and (max-width: 833px) {
  .img-top {
    transform: translate(350px, -50px);
   }
   
   .img-bottom {
     align-content: center;
     justify-content: center;
     transform: translate(-50px, 5px);
   }
}

@media  only screen and (max-width: 760px) {
  .img-top {
    transform: translate(350px, -10px);
   }
   
   .img-bottom {
     align-content: center;
     justify-content: center;
     transform: translate(-60px, 50px);
   }
}

@media  only screen and (max-width: 760px) {
  .img-top {
    transform: translate(265px, -10px);
   }
   
   .img-bottom {
     align-content: center;
     justify-content: center;
     transform: translate(-140px, 50px);
   }
}

@media  only screen and (max-width: 570px) {
  .img-top {
    transform: translate(200px, -10px);
   }
   
   .img-bottom {
     align-content: center;
     justify-content: center;
     transform: translate(-210px, 50px);
   }
}

@media  only screen and (max-width: 490px) {
  .img-top {
    transform: translate(150px, -10px);
   }
   
   .img-bottom {
     align-content: center;
     justify-content: center;
     transform: translate(-200px, 70px);
   }
}
@media  only screen and (max-width: 440px) {
  .img-col {
    display: flex;
    flex-direction: column;
  }
  .img-top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transform: translate(30%, 0%)
   }
   .img-bottom {
    display: flex;
     align-items: center;
     justify-content: center;
     transform: translate(30%, 0%)
   }
}
@media  only screen and (max-width: 380px) {
  .img-col {
    display: flex;
    flex-direction: column;
  }
  .img-top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transform: translate(20%, 0%)
   }
   .img-bottom {
    display: flex;
     align-items: center;
     justify-content: center;
     transform: translate(20%, 0%)
   }
}



