.App {
  text-align: center;
}

.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr 2fr 2fr;
  grid-template-areas: 'header'
                        'main'
                        'main'
                        'main'
                        'footer';

}

.header {
  display: grid;
  justify-content: space-between;
  grid-area: 'header-img' 'links';
  grid-template-columns: 2fr 2fr;
  padding: 30px;
  align-items: center;
}

 .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  gap: 2;
}

.headers {
  width: 70%;
}

.header-img {
  width: 70%;
  min-width: 300px
}

a:link {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: none;
  padding: none;
}




